-e git+https://github.com/nEDM-TUM/Python-Slow-Control.git#egg=pynedm
-e git+https://github.com/nEDM-TUM/cloudant-python.git@nedm-version#egg=cloudant-0.5.9-nedm
txaio==2.0.2
autobahn
netifaces
twisted
